@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
   box-sizing: border-box;
   color: #fff;
   font-family: 'Quicksand', sans-serif;

}
:root{
    --bgcolor:#222222;
    --accentcolor: #968474;

}
body{
    background-color: var(--bgcolor);

}
.link-tree{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    margin: 40px auto;
    gap: 20px;
}
.image{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url(/img/elembrancos.png);
    
}
.link-tree{
    width: 100%;
    height: 100vh;
    background-color: #222222c4;
}

.link-tree img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid 1px #000000;
   transform: translateY(0px);
    animation: float 3s ease-in-out infinite;
    box-shadow: 0.5em 0 0.6em rgba(224, 172, 105, 0.42),
    -0.5em 0 0.6em rgba(224, 172, 105, 0.42);; 

}

@keyframes float {
    0%{
        transform: translatey(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
    
}

.link-tree h1{
    font-size: 2.5rem;
}
.link-tree a{
    background-color: var(--accentcolor);
    color: var(--bgcolor);
    width: 30%;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 20px;
    border: solid 2px var(--accentcolor) ;
    box-shadow: 3px 3px 3px 0.5px rgb(0, 0, 0);
    opacity: 0.9;
    
}
.link-tree a:hover{
    animation-name: links ;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    background-color: var(--bgcolor);
    color: var(--accentcolor);

}
@keyframes links {
    0%{
        transform: scaleX(1);
    }
    100%{
        transform: scaleX(1.10);
    }
    
}
@media (width:1024px){
    .link-tree{
        width: 4vw;
    }
}